.container-div{
  position: fixed;
  display: block;
  left: 0px;
  top: 25%;
  width: 40%;
  /* height: 50%; */
  translate: 80%;
  border: solid 1px lightgray;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(167, 167, 167);
  padding: 4%;
}
.overlay{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
}
.add-task-form input,
.add-task-form textarea{
  display: block;
  margin: 20px 0;
}
.descTextarea{
  resize: none;
}
